﻿@model IEnumerable<DigiLabFoodApp.Models.Review>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarRank)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRank)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
            </td>
        </tr>
    }

</table>*@


<div class="header bg-default jumbotron">
    <div class="mt-3 text-center">
        <h2 class="dispaly-3"> Reviews <i class="fa fa-message" style="color: #339af0;"></i></h2>
    </div>
</div>

<div class="mb-4" id="newComment">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
        Add new review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add a new review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="subjectInput">Subject:</label>
                            <input type="text" class="form-control" id="subjectInput" placeholder="Excellent, Good..." required>
                        </div>

                        <div class="form-group">
                            <label for="commentArea">Comment:</label>
                            <textarea class="form-control" id="commentArea" rows="3" required></textarea>
                        </div>
                        <div class="stars form-group">
                            <p class="lead text-success mb-2">Give us a rating over 5</p>
                            <input class="star star-5" id="star-5" type="radio" name="star" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" />

                            <label class="star star-4" for="star-4"></label>

                            <input class="star star-3" id="star-3" type="radio" name="star" />

                            <label class="star star-3" for="star-3"></label>

                            <input class="star star-2" id="star-2" type="radio" name="star" />

                            <label class="star star-2" for="star-2"></label>

                            <input class="star star-1" id="star-1" type="radio" name="star" />
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" id="tabs">
    <ul class="nav nav-tabs mb-3" id="reviewTabs" role="tablist">
        <li class="nav-item">
            <a href="allreviews.html" data-target="#allReviews" class="nav-link active" id="pills-all-reviews-tab" data-toggle="pill" role="tab" aria-controls="allReviews" aria-selected="true">All Reviews</a>
        </li>
        <li class="nav-item">
            <a href="myreviews.html" data-target="#myReviews" class="nav-link" id="pills-my-reviews-tab" data-toggle="pill" role="tab" aria-controls="myReviews" aria-selected="false">My Reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Engage</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="allReviews" role="tabpanel" aria-labelledby="pills-all-reviews-tab">
            @Html.Partial("mypage")
        </div>

        <div class="tab-pane fade" id="myReviews" role="tabpanel" aria-labelledby="pills-my-reviews-tab">
            @Html.Partial("allreviews")
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            
        </div>

    </div>

</div>
        </div>

<script>
        //   $(document).ready(function(){

        //    $('[data-toggle="pill"]').click(function (e) {
        //        var $this = $(this),
        //        loadurl = $this.attr('href'),
        //        targ = $this.attr('data-target');
        //        if ($(targ).is(':empty')) {
        //            $.ajax({
        //                type: "GET",
        //                url: loadurl,
        //                crossDomain:true,
        //                cache:false,
        //                async:false,
        //                data:{},
        //                timeout: 5000,

        //                error: function(data){
        //                    console.log("There was a problem getting the required content");
        //                },
        //                success: function(data){
        //                    $(targ).html(data);
        //                }
        //            })
        //        }
        //        });


        //        $('.active[data-toggle="pill"]').each(function (e) {
        //        var $this = $(this),
        //        loadurl = $this.attr('href'),
        //        targ = $this.attr('data-target');
        //        if ($(targ).is(':empty')) {
        //            $.ajax({
        //                type: "GET",
        //                url: loadurl,
        //                crossDomain:true,
        //                cache:false,
        //                async:false,
        //                data:{},
        //                timeout: 5000,

        //                error: function(data){
        //                    console.log("There was a problem getting the required content");
        //                },
        //                success: function(data){
        //                    $(targ).html(data);
        //                }
        //            })
        //        }
        //        });

        //});

</script>
