﻿@model DigiLabFoodApp.ViewModel.OrderDetailsPage

@{
    ViewBag.Title = "Details";
}
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card px-2">
                        <div class="card-body">
                            <div class="container-fluid">
                                <h3 class="text-right my-5">Invoice&nbsp;&nbsp;#INV-17</h3>
                                <hr>
                            </div>
                            <div class="container-fluid d-flex justify-content-between">
                                <div class="col-lg-3 pl-0">
                                    <p class="mt-5 mb-2"><b>Shop Name</b></p>
                                    <p>
                                        @Html.DisplayFor(model => model.BuyerAddress.HouseNumber), @Html.DisplayFor(model => model.BuyerAddress.Street),
                                        <br>@Html.DisplayFor(model => model.BuyerAddress.City), @Html.DisplayFor(model => model.BuyerAddress.City)<br/>
                                        @Html.DisplayFor(model => model.BuyerAddress.Country)
                                    </p>
                                </div>
                                <div class="col-lg-3 pr-0">
                                    <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                                    <p class="text-right">Customer Name,<br> 40, Awolowo road,<br> Ikoyi, Lagos state.</p>
                                </div>
                            </div>
                            <div class="container-fluid d-flex justify-content-between">
                                <div class="col-lg-3 pl-0">
                                    <p class="mb-0 mt-5">Invoice Date : 4th September 2018</p>
                                    <p>Due Date : 4th September 2019</p>
                                </div>
                            </div>
                            
                                <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                                    <div class="table-responsive w-100">

                                        <table class="table">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th>#</th>
                                                    <th>Menu Name</th>
                                                    <th>Description</th>
                                                    <th class="text-right">Quantity</th>
                                                    <th class="text-right">Unit cost</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                  @foreach (var row in Model.OrderDetail)
                                                    {
                                                        <tr class="text-right">
                                                            <td class="text-left">
                                                                @Html.DisplayFor(modelItem => row.ItemNo)
                                                            </td>
                                                            <td class="text-left">
                                                                @Html.DisplayFor(modelItem => row.MenuName)
                                                            </td>
                                                            <td class="text-left">
                                                                @Html.DisplayFor(modelItem => row.MenuDetail)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => row.OrderQuantity)
                                                            </td>
                                                            <td>
                                                                &#8358;
                                                                @Html.DisplayFor(modelItem => row.MenuPrice)
                                                            </td>
                                                            <td>
                                                                &#8358;
                                                                @Html.DisplayFor(modelItem => row.TotalPrice)
                                                            </td>
                                                        </tr>
                                                    }



                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            
                                <div class="container-fluid mt-5 w-100">
                                    <p class="text-right mb-2">Sub - Total amount: &#8358; @Html.DisplayFor(model => model.OrderTotalCharge)</p>
                                    <p class="text-right">vat (10%) : &#8358;@Html.DisplayFor(model => model.VatOnOrder)</p>
                                    <h4 class="text-right mb-5">Total : &#8358;@Html.DisplayFor(model => model.TotalCharge)</h4>
                                    <hr>
                                </div>
                                <div class="container-fluid w-100">
                                    <a href="#" class="btn btn-primary float-right mt-4 ml-2 print" ><i class="mdi mdi-printer mr-1" ></i>Print</a>
                                    <a href="#" class="btn btn-success float-right mt-4"><i class="mdi mdi-telegram mr-1"></i>Send Invoice</a>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
  </div>
<!-- container-scroller -->