﻿@model IEnumerable<DigiLabFoodApp.ViewModel.PaymentHistoryViewModel>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PaymentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PaymentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PaymentId })
            </td>
        </tr>
    }

</table>*@
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Transaction History</h4>
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                            <tr class="bg-light">
                                                <th>REF #</th>
                                                <th>Order Ref</th>
                                                <th>Payment Date</th>
                                                <th>Subscription Plan</th>
                                                <th>Plan Type</th>
                                                <th>Amount Paid</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.PaymentReference)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.OrderReference)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.PaymentDate)</td>
                                                    <td>Breakfast Only</td>
                                                    <td>Month</td>
                                                    <td>&#8358; @Html.DisplayFor(modelItem => item.TransactionAmount)</td>
                                                    <td>
                                                        <label class="badge badge-info">@Html.DisplayFor(modelItem => item.PaymentStatus)</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <a class="btn btn-light" href=@Url.Action("Details", "Payments", new { id = item.PaymentId })>
                                                            <i class="mdi mdi-eye text-primary"></i>View Invoice
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
  </div>