﻿@model DigiLabFoodApp.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
