﻿@model IEnumerable<DigiLabFoodApp.Models.Menu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MenuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuOption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MenuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MenuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MenuId })
        </td>
    </tr>
}

</table>
