﻿@model List<DigiLabFoodApp.ViewModel.OrderViewModel>

@{
    ViewBag.Title = "My Orders";
}

@*<h2>GetOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

        </tr>
    }

</table>*@

<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Orders</h4>
                            <div class="row grid-margin">
                                <div class="col-12 @ViewBag.ErroMessage == null? d-none">
                                    <div class="alert alert-warning" role="alert">
                                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                            <tr class="bg-light">
                                                <th>Order #</th>
                                                <th>Total Price</th>
                                                <th>Ratings</th>
                                                <th>Order Status</th>
                                                <th>Order Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderReference)
                                                </td>

                                                <td>
                                                    &#8358; @Html.DisplayFor(modelItem => item.TotalPrice)
                                                </td>
                                                <td>No rating yet!</td>
                                                <td>
                                                    <label class="badge badge-info">
                                                        @Html.DisplayFor(modelItem => item.OrderStatus)
                                                    </label>
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                                </td>


                                                <td class="text-right">
                                                    <a class="btn btn-light">
                                                        <i class="mdi mdi-eye text-primary"></i>View More
                                                    </a>
                                                </td>


                                            </tr>
                                        }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
